<!doctype html>
<html ng-app="angulartestApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="AboutCtrl" class="col-md-12">
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-2 col-md-offset-1">
    <form>
      <div class="form-group">
          <div class="input-group-btn">
            <select class="form-control" ng-model="selectedTitle" ng-options="title for title in titles" ng-change="update()">
            </select>
          </div>
        <div class="form-group" style="padding-top: 10px;">
          <input type="text" class="form-control" placeholder="Search list..." ng-model="searchResults">
        </div>
      </div>
      <button class="btn btn-default" ng-click="randomtable = true; randomResult()">Random Result</button>
      <button class="btn btn-default" ng-click="randomtable = false" style="margin-top: 10px; margin-bottom: 10px;">Hide Random</button>
    </form>
    </div>

    <div class="col-md-8">
      <table class="table table-bordered table-striped" ng-show="randomtable">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
        <tr>
          <td class="col-md-3">{{rName}}</td>
          <td class="col-md-3">{{rType}}</td>
          <td class="col-md-6">{{rDescription}}</td>
        </tr>
    </table>

    <table class="table table-bordered table-striped">
      <thead class="thead-inverse">
        <tr>
          <th ng-click="sort('Name')">Name
            <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('Type')">Type
            <span class="glyphicon sort-icon" ng-show="sortKey=='Type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('Description')">Description
            <span class="glyphicon sort-icon" ng-show="sortKey=='Description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
        </tr>
      </thead>
      <tr dir-paginate="t in treasure | orderBy:sortKey:reverse | filter:searchResults | itemsPerPage:20 ">
        <td class="col-md-3">
          {{t.Name}}
        </td>
        <td class="col-md-3">
          {{t.Type}}
        </td>
        <td class="col-md-6">
          {{t.Description}}
        </td>
      </tr>
    </table>
    <dir-pagination-controls
      max-size="5"
      direction-links="true"
      boundary-links="true" >
    </dir-pagination-controls>
    </div>
  </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
  

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
